.barber-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.barber-card {
    margin-top: 90px;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    color: #123d7a;
}
.barber-card img{
    border-radius: 250px;
    width: 180px;
    height: 180px;
}
.edit_link{
    width: 40px;
    height: 40px;
    margin-left: 125px;
}
.edit_link img{
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
}
.edit_link img:hover{
    width: 42px;
    height: 42px;
    filter: brightness(85%);
}
