<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make an Appointment</title>
    <link rel="stylesheet" th:href="@{/css/webStyle.css}">
    <link rel="stylesheet" th:href="@{/css/barberListStyle.css}">
</head>
<body>
<div class="default_place" style="height: 550px; top: 50%;">
    <p class="top_text">Make an Appointment</p>
    <form th:action="@{/client/sendAppointment}" method="post" style="margin-top: 10px;" id="add_barber_form" th:object="${appointment}">
        <div style="position: relative; display: inline-block;">
            <img th:src="@{${barber.photopath}}" id="updating_photo" style="margin-bottom: 0px;">
            <p class="top_text" style="margin-left: 90px;" th:text="${barber.getFullName()}"></p>
        </div>
        <input type="hidden" th:field="*{barberId}">
        <input type="text" th:field="*{fullName}" placeholder="Full name" required><br>
        <div th:if="${#fields.hasErrors('fullName')}">
            <p class="wrong_error_text" th:text="${#fields.errors('fullName')[0]}"></p>
        </div>
        <input type="tel" th:field="*{phoneNumber}" placeholder="Phone Number" required><br>
        <div th:if="${#fields.hasErrors('phoneNumber')}">
            <p class="wrong_error_text" th:text="${#fields.errors('phoneNumber')[0]}"></p>
        </div>
        <div style="margin-bottom: 10px;">
            <input type="checkbox" id="haircut" th:field="*{hairCut}" style="width: 25px;">
            <label for="haircut">Haircut</label>
            <input type="checkbox" id="shaving" th:field="*{shaving}" style="width: 25px; margin-left: 10px;">
            <label for="shaving">Shaving</label>
        </div>
        <br>
        <input type="datetime-local" th:field="*{appointmentDateTime}" required>
        <div th:if="${#fields.hasErrors('appointmentDateTime')}">
            <p class="wrong_error_text" th:text="${#fields.errors('appointmentDateTime')[0]}"></p>
        </div>
        <input type="submit" value="Send" class="submit_button">
    </form>
</div>
</body>
</html>