<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/webStyle.css}">
</head>
<body>
<div class="choose_barber">
    <a th:href="@{client/choose_barber}" id="choose_barber_link">Choose Barber</a>
    <a th:href="@{admin/login_page}" id="login_as_admin">Log in as admin</a>
</div>
<p style="color: white; margin-top: 480px; text-align: center; font-family: Arial, Helvetica, sans-serif;" th:text="${successMessage}"></p>
</body>
</html>