<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" th:href="@{/css/webStyle.css}">
</head>
<body>
<header>
    <a th:href="@{/admin/add_barber_page}" id="add_barber_link">Add barber</a>
    <a th:href="@{/admin/barberList}" id="barber_list_link">Barbers</a>
    <a th:href="@{/admin/appointments}" id="appointments_link">Appointments</a>
</header>
<div class="default_place">
    <p class="top_text">Log in</p>
    <form th:action="@{/admin/login}" method="post" id="login_form">
        <input type="text" name="login" placeholder="Login"><br>
        <p th:if="${hasErrors}" class="wrong_error_text" th:text="${wrong_login}"></p>
        <input type="password" name="password" placeholder="Password"><br>
        <p th:if="${hasErrors}" class="wrong_error_text" th:text="${wrong_password}"></p>
        <input type="submit" value="Log In" class="submit_button">
    </form>
</div>
</body>
</html>